:root {
  --header-height: 10rem;
  --button-padding: 10px;
  --button-radius: 50px;
  --transition-speed: 0.3s;
  --menu-gap: 20px;
}


.menuTop {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 1rem;
}

.menuTop button {
  background-color: var(--green-200);
  color: var(--white);
  border: none;
  border-radius: var(--button-radius);
  padding: var(--button-padding);
  cursor: pointer;
  font-size: 1rem;
  transition: transform var(--transition-speed), background-color var(--transition-speed);
  display: flex;
  align-items: center;
  gap: 8px;
}

.menuTop button:hover {
  transform: scale(1.1);
  background-color: var(--blue-200);
}



.exportAndImport {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--menu-gap);
  width: 100%;
}

/* Estilos de Botão Base */
.button {
  background-color: var(--accent-color);
  color: var(--text-color);
  border: none;
  border-radius: var(--button-radius);
  padding: var(--button-padding);
  cursor: pointer;
  font-size: var(--font-size-base);
  transition: transform var(--transition-speed), background-color var(--transition-speed);
  display: flex;
  align-items: center;
  gap: 8px;
}

.button:hover {
  transform: scale(1.1);
  background-color: var(--hover-color);
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
  :root {
    --header-height: 8rem;
    --button-padding: 8px;
    --menu-gap: 15px;
  }

  .header {
    padding: 0.5rem;
  }

  h1 {
    font-size: var(--font-size-large);
    letter-spacing: 2px;
  }

  .menuTop,
  .exportAndImport {
    justify-content: center;
  }

  .exportAndImport {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  :root {
    --header-height: 6rem;
    --button-padding: 6px;
    --menu-gap: 10px;
  }

  h1 {
    font-size: var(--font-size-base);
    letter-spacing: 1px;
  }

  .menuTop button,
  .exportAndImport button,
  .inputFileImport {
    font-size: 0.9rem;
  }
}