.inputFileImport {
  position: relative;
  background-color: var(--accent-color);
  font-size: var(--font-size-base);
  cursor: pointer;
  border-radius: var(--button-radius);
  padding: var(--button-padding);
}

.inputFileImport input {
  cursor: pointer;
  inset: 0;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.inputFileImport:hover {
  transform: scale(1.1);
  background: var(--hover-color);
}