:root {
  --purple-100: #7d83b9;
  --purple-200: #41477e;
  --purple-300: #363b65;
  --purple-400: #363f88;
  --purple-500: #222435;
  --purple-600: #1e1f2e;
  --purple-700: #151627;
  --purple-800: #181a33;

  --blue-200: #1868b3;

  --green-200: #15b28f;

  --red-100: #ff004c;
  --red-200: #ff0000;

  --white: white;
}


body{
  background: var(--purple-800);
  font-family: 'Roboto', sans-serif;
  color: var(--white);
}


*:focus{
  outline: none;
}

.exportAndImport {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px; 
}

.exportAndImport button, .inputFileImport {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  background-color: var(--green-200);
  border-radius: 50px;
  padding: 10px;
}

.exportAndImport button:hover, .inputFileImport:hover {
  transform: scale(1.1);
  color: var(--white);
  background-color: var(--blue-200);
}

.menuTop{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menuTop button{
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  background-color:  var(--green-200);
  color: var(--white);
  border-radius: 50px;
  padding: 10px;
}

.menuTop button:hover {
  transform: scale(1.1);
  background-color: var(--blue-200);
}

.inputFileImport{
  position: relative;
  background-color: var(--green-200);
  font-size: 1rem;
  display: flex;
  align-items: center; 
  justify-content: center; 
  padding: 10px;
  cursor: pointer;
  border-radius: 50px;
}

.inputFileImport input {
  cursor: pointer; 
}

.inputFileImport:hover {
  transform: scale(1.1);
  background: var(--blue-200);
  cursor: pointer;
}

h1{
  font-weight: 700;
  color: var(--blue-200);
  text-align: center;
  letter-spacing: 4px;
}

ul{
  list-style-type: none;
}

form.addItem{
  display: flex;
  position: relative;
  width: 90%;
  max-width: 600px;
  height: auto;
  min-height: 3rem;
  margin: 30px auto;
  margin-bottom: 60px;
}

button.add{
  position: absolute;
  top: 0;
  right: 0;
  background: var(--green-200);
  border: none;
  cursor: pointer;
  padding: 10px 25px;
  height: 62px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

button.add:hover{
  background: var(--blue-200);
}

button.filter{
  position: absolute;
  border: none;
  background: var(--green-200);
  cursor: pointer;
  padding: 10px 25px;
  height: 62px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

button.filter:hover{
  background: var(--blue-200);
}

.filter img{
  width: 19px;
}

form.filters{
  display: flex;
  position: relative;
  max-width: 600px;
  width: 600px;
  height: auto;
  min-height: 3rem;
  margin: auto;
  margin-bottom: 60px;
}

form.filters input {
  flex-grow: 1;
  font-size: 1rem;
  color: #fff;
  background-color: #3a3f57;
  border: none;
  text-align: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

form.filters button{
  position: relative;
  border: none;
  background: var(--green-200);
  cursor: pointer;
  padding: 10px 25px;
  height: 62px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

form.filters button:hover{
  background: var(--blue-200);
}

input::placeholder {
  text-align: center;
  color: var(--blue-200);
  opacity: 0.9;
  letter-spacing: 1px;
}

.listaTarefas{
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.item{
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--purple-300);
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
}

.item:hover{
  background: var(--purple-700);
}

.item span{
  flex-grow: 1;
  width: 300px;
  word-wrap: break-word;
  text-align: start;
  
  margin-right: 10px;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.item.completo{
  display: flex;
  text-align: start;
  justify-content: space-between;
  background: var(--purple-600);
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.item.completo span{
  color: #4d506e;
  margin-right: 10px;
  padding: 10px 15px;
  text-decoration: line-through;
  width: 300px;
  word-wrap: break-word;
}

.item button{
  border: transparent;
  background-color: transparent;
}

form button:focus {
  outline: 2px solid var(--purple-100);
}

.estrela{
  width: 20px;
  background: none;
  cursor: pointer;
}

.estrela:hover{
  transform: scale(1.3);
}

.filterAberto{
  position: absolute;
  margin-top: 60px;
  padding: 3px;
}

.filterAberto li{
  cursor: pointer;
  margin-top: 5px;
  margin-left: 70px;
  color: var(--purple-100);
  box-shadow: var(--purple-700);
  transition: transform 0.5s ease;
}

.filterAberto li:hover{
  transform: scale(1.3) translateX(20px);
  color: var(--purple-200);
}

.erroMensagem{
  position: absolute;
  margin-top: 75px;
  margin-left: 25px;
  color: var(--red-200);
}

.inputEdit{
  flex-grow: 1;
  width: 300px;
  display: flex;
  position: relative;
}

.inputEdit input{
  flex-grow: 1;
  display: flex;
  width: 200px;
  margin: 5px;
  color: var(--purple-400);
  font-weight: 600;
  font-size: 1rem;
  padding: 0.3rem;
  border-radius: 2px;
  border: 0;
}

.editCancel:hover{
  border: none;
  background-color: var(--red-100);
  cursor: pointer;
  transform: scale(1.05);
  border-radius: 2px;
}

.editSave:hover{
  border: none;
  background-color: var(--purple-100);
  cursor: pointer;
  transform: scale(1.05);
  border-radius: 2px;
}


button.del{
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button.del:hover{
  background: var(--red-100);
  border: none;
  transform: scale(1.05);
  cursor: pointer;
  border-radius: 2px;
}

button.edit{
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button.edit:hover{
  background: var(--purple-100);
  border: none;
  transform: scale(1.05);
  cursor: pointer;
  border-radius: 2px;
}

button.deleteAll{
  border: 1px solid var(--red-100);
  background: none;
  padding: 15px;
  color: var(--red-100);
  font-weight: bold;
  border-radius: 5px;
  margin-top: 30px;
}

button.deleteAll:hover{
  cursor: pointer;
  color: var(--white);
  background: var(--red-100);
  
}

#input-addItem{
  display: flex;
  width: 100%;
  height: 60px;
  background: #2d3046;
  border: none;
  font-size: 16px;
  border-radius: 12px;
  color: var(--white);
  text-align: center;
}

.iconFiltro{
  width: 20px;
}

.icon{
  width: 100%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 900px){
  form.addItem, form.filters, .listaTarefas {
    width: 100%;
  }
}

@media screen and (max-width: 500px){

  input::placeholder{
    font-size: 14px;
  }

  .listaTarefas .item span {
    font-size: 14px;
  }

  .listaTarefas .item button {
    font-size: 14px;
  }

  .item span{
    display: block; 
    word-break: break-word;
    white-space: normal; 
    width: 100%;
  }

}

@media screen and (max-width: 420px){

  .item{
    max-width: 100%;
    word-wrap: break-word;
  }
  .item button{
    padding: 1;
  }

  .item span{
    display: block; 
    word-break: break-word;
    white-space: normal; 
    width: 100%;
  }

  .estrela{
    width: 15px;
  }
}